
.login-container {
  height: 100vh;
  width: 100%;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;   
  padding-top: 120px;        
}


.login-box {
  width: 380px;             
  padding: 35px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}


.login-box h2 {
  margin-bottom: 25px;
  font-size: 24px;
}


.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


.login-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-box button:hover {
  background: #1e40af;
}
