.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f4f6f8;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 260px;
  background: #1e293b;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-shrink: 0;
}


/* Sidebar Header */
.sidebar-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

/* Sidebar Menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.menu-link {
  display: block;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

/* Hover */
.menu-link:hover {
  background-color: #1e293b;
  color: white;
}

/* Active Menu */
.menu-link.active {
  background-color: #2563eb;
  color: white;
}

/* Sidebar Footer */
.sidebar-footer {
  margin-top: auto;
  font-size: 12px;
  text-align: center;
  color: #94a3b8;
  padding-top: 20px;
}

.logout-btn {
  margin: 15px;
  padding: 10px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.logout-btn:hover {
  background-color: red
}


/* ===== CONTENT ===== */
.content {
  flex: 1;
  background-color: #f8fafc;
  overflow-y: auto;
  height: 100%;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Dashboard Cards */
.dashboard-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}