body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.page {
  padding: 20px;
}

button {
  padding: 8px 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
.Login{
  .login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.login-box {
  width: 320px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #667eea;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.login-box button:hover {
  background: #5a67d8;
}


}

